{% extends 'base_distributed.html' %}

{% load i18n %}

{% load staticfiles %}

{% block login_active %}active{% endblock login_active %}

{% block title %}{% trans "Log in" %}{% endblock title %}

{% block extrahead %}
<link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'js/bootstrap/modal.js' %}" type="text/javascript"></script>
{% endblock extrahead %}


{% block content %}

<form method="post" class="basic-form">
    {% csrf_token %}
    
    <h2>{% trans "Login" %}</h2>

    <div style="{% if facilities.count < 2 %}display: none;{% endif %}">
        {{ form.facility.errors }}
        <p>
            {% comment %}Translators: This will be a label in a form.{% endcomment %} 
            <label for="id_facility">{% trans "Facility: " %}</label>
            {{ form.facility }}
        </p>
    </div>
    {{ form.username.errors }}
    <p>            
        {% comment %}Translators: This will be a label in a form.{% endcomment %} 
        <label for="id_username">{% trans "Username: " %}</label>
        {{ form.username }}
    </p>
    {{ form.password.errors }}
    <p>
        {% comment %}Translators: This will be a label in a form.{% endcomment %} 
        <label for="id_password">{% trans "Password: " %}</label>
        {{ form.password }}
    </p>
    {% trans "Login" as login %}
<input type="submit" value="{{ login }}" class="submit"/>
</form>

<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>KA Lite Account </h3>
  </div>
  <div class="modal-body">
    <h3>Admin user</h3>
    <p>One fine body… One fine body…One fine body…One fine body…One fine body…One fine body…One fine body…One fine body…One fine body…</p>
    <h3>Students</h3>
    <p>One fine body…One fine body…One fine body…One fine body…One fine body…One fine body…One fine body…One fine body…</p>
    <h3>Teachers</h3>
    <p>One fine body…vOne fine body…One fine body…One fine body…One fine body…One fine body…One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Continue</a>
  </div>
</div>

<a class="btn" data-toggle="modal" href="#myModal" >Launch Modal</a>



{% endblock content %}